---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/pages/Home/Hero.astro';
import ProjectsSection from '../components/pages/Home/ProjectsSection.astro';
import Divider from '../components/Divider.astro';
import Experience from '../components/pages/Home/Experience.astro';
import Hamburger from '../components/Hamburger.astro';
import AboutMe from '../components/pages/Home/AboutMe.astro';
---

<Layout title="Stron" description='Developer Freelance'>
	<div id="hamburger" hidden>
        <Hamburger />
    </div>
	<Hero/>
	<Divider top="70dvh"/>
	<ProjectsSection/>
	<Experience/>
    <AboutMe/>
</Layout>

<style>
	@media ( width < 840px) {
        #hamburger {
            display: flex;
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 110;
        }
    }
</style>