<nav>
    <a href="#Hero" class="active">About</a>
    <a href="#projects">Projects</a>
    <a href="#experience">Experience</a>
    <a href="#skills">Skills</a>
    <a href="#contact">Contact</a>
</nav>

<style>
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.9rem;
        backdrop-filter: blur(10px);
        padding: 1rem;
        /* border-left:solid 1px rgb(255 255 255 / 12%); */
    }

    a {
        color: var(--text-color);
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 25px;
        width: 100%;
        text-align: center;
        position: relative;
        background: var(--gradient-style-3);
        transition: background-size 0.5s ease;
        background-size: 0% 100%;
        background-repeat: no-repeat;
    }
    a:hover, a.active{
        background-size: 100% 100%;
        animation: gradient-shift 1s ease;
    }

    a.active::after {
        filter: blur(10px);
        z-index: -1;
        height: 10px;
    }

    @keyframes gradient-shift {
        0% {
            background-size: 0% 50%;
        }
        100% {
            background-size: 100% 100%;
        }
    }
</style>

<script>
    const nav = document.querySelector('nav');    
    if(nav) {    
        const links = nav.querySelectorAll('a');
        nav.addEventListener('click', (e) => {
            
            if (e.target instanceof HTMLAnchorElement) {
                links.forEach((link)=> link.classList.remove("active"))
                e.target.classList.add("active")
            }
        })
    }
</script>