---
import { iconsTags } from "../data/icons";
const MENU = {
    "hero": "About",
    "projects": "Projects",
    "experience": "Experience",
    "skills": "Skills",
    "contact": "Contact",
}
---

<nav>
    {
        Object.entries(MENU).map(([key, value]) => {
            const icon = iconsTags[key as keyof typeof iconsTags];
            return (
                <a href={`#${key}`}>
                    <iconify-icon class="icon" icon={icon} width="20" height="20" />
                    {value}
                </a>
            )
        })
    }
</nav>

<style>
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.9rem;
        backdrop-filter: blur(10px);
        padding: 1rem;
        background: var(--background-color-2);
        border-radius: 25px;
    }

    a {
        border-radius: 25px;
        padding: 0.5rem;
        width: 100%;
        text-align: center;
        position: relative;
        background: var(--gradient-style-3);
        transition: background-size 0.5s ease;
        background-size: 0% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
        padding-right: 2rem;
    }
    a:hover, a.active{
        background-size: 100% 100%;
        animation: gradient-shift 1s ease;
    }

    a.active::after {
        filter: blur(10px);
        z-index: -1;
        height: 10px;
    }

    @keyframes gradient-shift {
        0% {
            background-size: 0% 50%;
        }
        100% {
            background-size: 100% 100%;
        }
    }
    @media ( width < 840px) {
        nav {
            margin : 1rem;
        }
        nav > a {
                justify-content: center;
                align-items: center;
            }
    }
</style>

<script>
    const nav = document.querySelector('nav');    
    if(nav) {    
        const links = nav.querySelectorAll('a');
        nav.addEventListener('click', (e) => {
            
            if (e.target instanceof HTMLAnchorElement) {
                links.forEach((link)=> link.classList.remove("active"))
                e.target.classList.add("active")
            }
        })
    }
</script>