<div class="vertical-line">
    
</div>

<style>
    .vertical-line {
        height: 100%;
        width: 1px;
        background:var(--gradient)
    }
    .vertical-line::after {
        content: '';
        display: block;
        height: 100%;
        width: 2px;
        filter: blur(10px);
    }
</style>