---
import Download from "../../icons/Download.astro";
import Hexagon from "../../icons/Hexagon.astro";
import Mail from "../../icons/Mail.astro";
import Link from "../../Link.astro";
import Profile from "../../Profile.astro";
---
<section id="hero">
    <div id="about">
        <Profile />
        <div>
            <h1>
                I'm <span class="highlight">Freelance</span> Web Developer 
            </h1>
            <p>
                I'm José Luis B. Leyva, I have 5 years as a freelance developer with technologies like Javascript, Typescript, PHP, HTML, CSS, Wordprees and more.
            </p>
            <div class="contact">
        
                <Link href="/cv.pdf" target>
                    <Download />
                    CV
                </Link>
                <Link href="mailto:luisstron45@gmail.com"  acction>
                    <Mail />
                    Contact 
                </Link>
            </div>
        </div>
    </div>
</section>

<style>
    #hero {
        display: flex;
        flex-direction: column;
        /* min-height: 100dvh; */
        position: relative;
    }

    #about {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        padding-top: 200px;
    }

    .contact {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
        margin-top: 45px;
    }

    h1 {
        margin: 0;
        font-family: 'Exo 2 Variable', sans-serif;
        font-size: 57px;
        max-width: 500px;
        text-wrap: balance;
    }

    p {
        margin: 0;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.5;
        text-wrap: pretty;
        max-width: 600px;
    }

    .hexagon {
        position: absolute;
        top : 100px;
        left: -100px;
        z-index: -100;
        filter: blur(3px);
        opacity: 0.7;
    }
    .hexagon::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 200px solid #70f5f2;
    }
    @media (max-width: 800px) {
        #about {
            flex-direction: column;
            padding-top: 100px;
            gap: 4rem;
        }

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        p {
            text-align: center;
            margin: 20px;
        }

        h1 {
            font-size: 37px;
        }
    }
</style>