---
import '@fontsource-variable/dm-sans';
import '@fontsource/material-symbols-outlined/300.css';
import '../components/styles/animations.css';
import Aside from '../components/Aside.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<script defer src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
	</head>
	<body>
		<div class="layout__container">
			<main>
				<slot />
			</main>
			<Aside/>
		</div>
	</body>
</html>
<style is:global>

	:root {
		--text-color: #dbd9e8;
		--background-color: #07072d;
		--background-color-2:#0f0f16;
		--background-transparent:#ffffff0f;
		--color:326.39deg 97.57% 48.43%;
		--accent-color: hsl(var(--color) / 100%);
		--gradient-style-1:linear-gradient(180deg,hsla(0,0%,100%,.2),hsla(0,0%,60%,.2));
		--gradient-style-2:linear-gradient(90deg, hsl(0deg 0% 100% / 0%), hsla(0, 0%, 60%, .2));
		--gradient-style-3:linear-gradient(90deg, hsl(0deg 0% 100% / 0%), hsl(var(--color) / 36%));
		--gradient:linear-gradient(to top, #330867 0%, #070c0c 100%); 
		--gradient-2:linear-gradient(to top, #330867 0%, #30cfd0 100%);
		--gradient-3:linear-gradient(to top, #ffffff00 0%, var(--background-color-2) 25%, var(--background-color-2) 75%,#ffffff00 100%);
	}
	html {
		font-family: 'DM Sans Variable', sans-serif,system-ui, sans-serif;
		color: var(--text-color);
		font-size: 16px;
		line-height: 1.5;
		font-weight: 600;
		font-style: normal;
		scroll-behavior: smooth;

	}
	p {
		font-weight: 300;
	}
	body {
		margin: 0;
		padding: 0;
	}

	body:after {
		content: "";
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background:var(--gradient);
		z-index: -4;
	}
	
	.layout__container {
		display: grid;
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		padding:0;
		grid-template-columns: 1fr 350px;
		gap: 3rem;
	}

	main {
		padding: 0 10px;
	}

	.highlight {
		color: var(--accent-color);
		font-weight: 700;
	}

	a {
		text-decoration: none;
		color: var(--text-color);
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	iconify-icon {
		color: var(--accent-color)
	}
	img {
		width: 100%;
		max-height: 220px;
		object-fit: cover;
	}

	@media (max-width: 840px) {
		.layout__container {
			display: flex;
			flex-direction: column;
			margin: 0;
			padding: 0;
		}

		main {
			padding: 0;
			margin: 0;
			border: 0;
		}
	}

	a.channel {
		text-decoration: underline	;
	}
</style>
