---
import '@fontsource-variable/dm-sans';
import '@fontsource/material-symbols-outlined/300.css';
import Aside from '../components/Aside.astro';
import VerticalLine from '../components/VerticalLine.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
		<Aside/>
		<!-- <VerticalLine/> -->
	</body>
</html>
<style is:global>
	:root {
		--text-color: #dbd9e8;
		--background-color: #07072d;
		--background-color-2:#0f0f16;
		--background-transparent: rgb(255 255 255 / 16%);
		--color:326.39deg 97.57% 48.43%;
		--accent-color: hsl(var(--color) / 100%);
		--gradient-style-1:linear-gradient(180deg,hsla(0,0%,100%,.2),hsla(0,0%,60%,.2));
		--gradient-style-2:linear-gradient(90deg, hsl(0deg 0% 100% / 0%), hsla(0, 0%, 60%, .2));
		--gradient-style-3:linear-gradient(90deg, hsl(0deg 0% 100% / 0%), hsl(var(--color) / 36%));
		--gradient:linear-gradient(to right, #9C27B0 0%, #001bfe 100%);
	}
	html {
		font-family: 'DM Sans Variable', sans-serif,system-ui, sans-serif;
		background: var(--background-color-2);
		color: var(--text-color);
		font-size: 16px;
		line-height: 1.5;
		font-weight: 600;
		font-style: normal;
		scroll-behavior: smooth;
	}
	p {
		font-weight: 300;
	}

	body {
		display: grid;
		width: 100%;
		max-width: 1400px;
		margin: 0 auto;
		padding:0;
		grid-template-columns: 1fr 350px 1px;
		min-height: 100dvh;
	}
	body:after {
		content: "";
		position: fixed;
		width: 83%;
		height: 98px;
		top: 3%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		/* background:var(--gradient); */
		z-index: -4;
		filter: blur(149px);
	}

	.highlight {
		color: var(--accent-color);
		font-weight: 700;
	}
</style>
